

.main{
    margin-top: 90px;
}

.card-icon::before{
    font-size: 6vw;
    margin-top: 1.5vw;
}

.card-title{
    font-size: 2vw;
}

.card{
    background-color: #595A59;
    color: #BFC0BF;
    margin-bottom: 2vw;
}

.card:last-child{
    background-color: #595A59;
    color: #BFC0BF;
    margin-bottom: 100px;
}


.card-graph{
    background-color: #BFC0BF;
    color: #595A59;
    border-radius: 4px;
    font-size: 150%;
    height: 18vw;
}

.card-text{
    margin-top: 1vw;
}

.card-btn{
    background-color: #BFC0BF;
    color: #595A59;
    text-decoration: none;
}

.card-btn:hover{
    color: #737373;
    background-color: #BFC0BF;
}



@media (max-width: 750px) { 
    .big{
        display: none;
    }
    
    .sm-nav{
        margin-top: 85px;
        font-size: 2vw;
    
    }
}

@media (min-width: 751px) { 
    .small{
        display: none;
    }
}