.head-optimization{
    font-size: 2em;
    padding-top: 1.4vw;
    padding-bottom: 1.7vw;
}

.head-date {
    padding-top: 1.4vw;
    padding-bottom: 1.7vw; 
}

.card-graph-optimization{
   margin-left: 20px;
   margin-right: 20px;
   margin-bottom: 60px;
}

.nav-abstand{
   margin-bottom: -60px;
}
.main{
    margin-top: 7vw;
}

.card-icon::before{
    font-size: 4vw;
    margin-top: 1.5vw;
    margin-bottom: 2.5vw;
    margin-right: 1.15vw;
}

.card-title-optimization{
    font-size: 2vw;
    margin-left: 1.15vw;
}

.card-optimization{
    background-color: #595A59;
    color: #BFC0BF;
    margin-bottom: 2vw;
}

.card{
    background-color: #595A59;
    color: #BFC0BF;
    margin-bottom: 100px;
}


.card-graph-optimization{
    background-color: #595A59;
    color: #595A59;
    border-radius: 4px;
    font-size: 150%;
    height: 25vw;
}

.card-text-optimization{
    margin-top: 0.2vw;
    margin-left: 1.15vw;
    margin-right: 1.15vw;
}

.opti-button {
    margin-left: 1.15vw;
}

.card-btn-optimization{
    background-color: #BFC0BF;
    color: #595A59;
    text-decoration: none;
}

.card-btn:hover{
    color: #737373;
    background-color: #BFC0BF;
}

.datepicker-opti{
   margin-top: 200 px;
}
