.helpicon:before {
    color:  #C4C4C4;  
    font-size: 2rem;
    padding-top: 1rem;
    display: inline-block;
    padding-right: 0.2rem;
    
}
.helpdiv {
    
/* margin-top hinzugefügt damit obere nav passt */
    margin-top: 4.3rem;
    text-align: right;
    
}
.haus {
    font-family: 'Roboto', sans-serif;
}
.licht {
    background-color: #595A59;
    border-radius: 10px;
    color: #C4C4C4;
    text-align: center;
    width: 170px;
}
.strom {
    background-color: #595A59;
    border-radius: 10px;
    color: #C4C4C4;
    text-align: center;
    margin-bottom: 1rem;
    width: 170px;
    vertical-align: middle;
}
.icons-verbrauch{
    font-size: 500%;
}
.icons-verbrauch:before{
    font-size: 100%;
}
.verbrauch-text {
    padding-top: 5%;
    padding-bottom: 5%;
}
.main-div {
    padding-bottom: 5%;
   
}